<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="./index.js" defer></script>
    <link rel="stylesheet" href="./style.css">    
    <title>Restaurant</title>
</head>
<body>
    <div class="mainpage">
        <nav>
            <div class="nav__logo">
                <h1>Suushi</h1>
                <img src="./res/logo.svg" alt="restaurant_logo">
            </div>
            <div class="nav__links" title="passive" id="nav__links">
                <ul>
                    <% if(locals.id) {%> 
                        <li><a href=<%='/'+ locals.id %>>Home</a></li>
                        <li><a href=<%='/table?id='+ locals.id %>>Table</a></li>
                        <li><a href=<%='/burger?id='+ locals.id %>>Burger</a></li>
                        <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=hellonewtest9@gmail.com" target="_blank">Contact</a></li>
                    <% }else{%>  
                        <li><a href="/">Home</a></li>
                        <li><a href="/table">Table</a></li>
                        <li><a href="/burger">Burger</a></li>
                        <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=hellonewtest9@gmail.com" target="_blank">Contact</a></li>
                    <%}%>
                </ul>
            </div>
            <div class="nav__menu" id="nav__menu" onclick="change()">
                <h3>Menu</h3>
                <img src="./res/menu.png" width="20"  alt="menu">
            </div>
            <div class="nav__sign">
                <% if(locals.name) {%> 
                    <a href="/"><button class="out">Sign Out</button></a>
                <% }else{%>  
                    <a href="sign"><button class="in">Sign In</button></a>
                <%}%>
            </div>
        </nav>
        <header>
            <div class="header__text">
                <h1>Welcome <%= locals.name  %>  To Our Sushi <br> Restaurant</h1>
                <h3>Delecious,Nutritious,Protein Packed.</h3>
                <p>Our easy-to-modify menu is full of healthy alternatives to your favorite flavors</p>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=hellonewtest9@gmail.com" target="_blank"><button>Contact Us</button></a>
            </div>
        </header>
    </div>
    
</body>
</html>