<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="table_style.css">
    <script type="text/javascript" src="send.js" defer></script>
    <title>Document</title>
</head>
<body>
    <section class="section1" id="section">
        <h2>BOOK YOUR TABLE NOW</h2>
            <div class = "card-container">
                <div class = "card-img" id="cardimage"></div>

                <div class = "card-content">
                    <h3>Reservation</h3>
                    <form action=<%="/table"%>  method="post">
                        <div class = "form-row">
                            <select name = "days">
                                <option value = "day-select">Select Day</option>
                                <option value = "sunday">Sunday</option>
                                <option value = "monday">Monday</option>
                                <option value = "tuesday">Tuesday</option>
                                <option value = "wednesday">Wednesday</option>
                                <option value = "thursday">Thursday</option>
                                <option value = "friday">Friday</option>
                                <option value = "saturday">Saturday</option>
                            </select>

                            <select name = "hours">
                                <option value = "hour-select">Select Hour</option>
                                <option value = "10">10:00</option>
                                <option value = "12">12:00</option>
                                <option value = "14">14:00</option>
                                <option value = "16">16:00</option>
                                <option value = "18">18:00</option>
                                <option value = "20">20:00</option>
                                <option value = "22">22:00</option>
                            </select>
                        </div>

                        <div class = "form-row">
                            <input name="phoneNumber" type = "text" placeholder="Phone Number">
                            <input name="hPerson" type = "number" placeholder="How Many Persons?" min = "1" max="5">
                        </div>

                        <div class = "form-row book">
                            <button onclick="send()">BOOK TABLE</button>
                        </div>
                    </form>
                </div>
            </div>
    </section>
</body>
</html>